version: '3.8'

services:
  extraction-api:
    build: .
    ports:
      - "${PORT_HTTP:-3000}:3000"
    volumes:
      - .:/app
    environment:
      - MONGODB_URI=${MONGODB_URI:-mongodb://mongo:27017/extraction}
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
    name: mongo_data
